/* .flex-control-nav img{
  width: 100px;
  height: 50px;
  margin-top: 20px;

} */

.price-firts .woocommerce-Price-amount {
  display: block !important;
}

#main {
  margin-top: 130px !important;
}

.header-2 .nav-link {
  color: #161616 !important;
}

.header-2 .site-logo img {
  width: 120px;
}

.header-2 .logo-w {
  margin: 25px 0 !important;
}

.header-2 .bx {
  color: #161616;
}

.header-2 .bx:hover {
  color: #d62766;
}

.header-2 .nav-link:hover {
  color: #d62766 !important;
}

.header-2 ul {
  align-items: center !important;
}


/* img product */
.content-img {
  background-size: 100%!important;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-position: 0px 30%!important;
  background-repeat: no-repeat !important;
}

.info-doll h2 {
  color: #e60065;
  font-size: 25px;
}

.price-detail {
  font-size: 21px;
  font-weight: 600;
  margin: 15px 0;
  color: #161616;
  display: inline-flex;
  width: 100%;


}

.price-detail p:nth-child(2) {
  text-decoration: line-through;
  /* font-size: 15px; */
  color: #161616db;
  margin: 0 19px;
  font-weight: 100;
  opacity: .8;
}

.info-doll a {
  /* background: #e60065; */
  text-transform: initial;
}

/* .info-doll .btns a {
  color: #ffffff;
} */
.info-doll [class^="btn-"] {

  margin: 0 !important;
  padding: 0 10px;
}

.info-doll .btns {

  display: initial;
}

.info-doll .btns a {
  line-height: 35px !important;
  font-family: Poppins, sans-serif !important;
  letter-spacing: 0.5px;
}
.take{
  color: #161616d9;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
}
.btn-buy a{
  font-size: 15px;
  background: #602052;
  color: #fff;
}
.content-btn-detail{
  display: flex;
  justify-content: center;
  margin: 50px;
}
.btn-buy [class^="btn-"] {

  border: 1px solid transparent;
  padding: 5px 40px;
}
.btn-buy .btns a {
 line-height: 40px;
}
/* tabs */
/* Tabs*/
.tab-content{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.content-img-tab{
  display: inline-flex;
  justify-content: center;
}

#tabs{

  color: #eee;
}
#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #602052;
  font-size: 16px;
}





/* galery  */
.flex-control-nav img{
  width: 100px;
  height: 95px;
  margin: 0 -3px;
  object-fit: cover;
  object-position: top;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;

}
.flex-control-nav li{
  display: grid!important;
 
}
.flex-control-nav {

  height: 560px;
  overflow-y: overlay;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}
.flex-control-nav::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: transparent!important;
}
.flex-control-nav::-webkit-scrollbar {
	width: 1px;
}
.flex-control-nav::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent; 
	border-radius: 10px;
}
.woocommerce-product-gallery__image flex-active-slide{

}
.flex-control-nav li:hover{
  background: #e9ecef4d;
  z
}

.woocommerce-product-gallery__image .flex-active-slide img {
  width: 100%!important;
  height: 500px!important;

}
.woocommerce-product-gallery {
display: flex;
flex-direction: row-reverse!important;
object-fit: cover!important;
}

.flex-viewport{
  height: 590px!important;
  width: 100%;
  object-fit: cover!important;
}
.woocommerce-product-gallery__image  img{ 
  object-fit: cover!important;
  background-repeat: no-repeat!important;
  height: 565px;
  border-radius: 5px;
  width: 100%;
}
.woocommerce-breadcrumb{
  display: none;
}


/* check */
.image-radio {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
  display: flex;
}
.image-radio input[type="radio"] {
  display: none;
}
.image-radio-checked {
  /* border: 1px solid #20ff5385; */
  border-radius: 10px;
}
.image-radio .bx-check  {
  position: absolute;
  color: #28a745;
  background-color: #fff;
  padding: 4px;
  top: 0;
  right: 18px;
  border-radius: 5px;
}
.image-radio-checked .bx {
display: block !important;
}
.tab-img{
  height: 200px;
  width: 150px;
  /* margin: 50px 0; */
  border-radius: 10px;
}


.swatch .swatch-color .swatch-tan {
  opacity: inherit!important;
}


.tawcvs-swatches .swatch {
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  transition: all 0.3s !important;
  border-radius: 0 !important;
  display: inline-block !important;
  width: 150px !important ;
  height: 200px !important;
  line-height: 30px !important;
  text-align: center !important;
  margin-right: 15px !important;
  cursor: pointer !important;
  border: 1px solid transparent !important;
  position: relative !important;
  /* opacity: initial !important; */
}
.content-img-tab .product_title {
  display: none!important;
}
.content-img-tab input[type=checkbox], input[type=radio] {

  opacity: 0!important;
}
.product_meta{
  display: none!important;
}
.tawcvs-swatches .swatch.selected {
  -webkit-box-shadow:0 0 5px #28a745!important;
  -moz-box-shadow: 0 0 5px #28a745!important;
  box-shadow: 0 0 5px #28a745!important;
  border-radius: 10px!important;
  color: #602052!important;
  font-size: 15px!important;
  line-height: 50px!important;
}
.tawcvs-swatches .swatch-image {
  border-radius: 10px!important;
  color: #602052;
}
.tawcvs-swatches .swatch-color {

  border-radius: 10px!important;
}


.none-input input[type=number]{
  display: none !important;
}
 input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  opacity: 0!important;
}

.car-home .actions{
  display: none!important;
}
.car-home .cart-collaterals{
  display: none!important;
}
.nav-car .dropdown-menu {
  right: 0!important;
  left: initial!important;
  min-width: 35rem!important;
}
.nav-car .woocommerce table.shop_table {
    border: none;
}
.nav-car thead{
  display: none;
}
.nav-car .woocommerce table.shop_table td {
  font-size: 12px!important;
}
.product-name a{
  color: #602052!important
}
.nav-car .woocommerce a.remove {
  display: block;
  font-size: 1.5em;
  height: 25px!important;
  width: 25px!important;
  align-items: center!important;
  display: flex!important;
  justify-content: center!important;
  line-height: 1;
  border-radius: 100%;
  color: #d62766!important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  background: white!important;
  box-shadow: 0 5px 16px rgba(0,0,0,.07)!important;
}
.nav-car .woocommerce a.remove:hover {
  background: #d62766!important;
}
.product-thumbnail img{
  width: 80px!important;
  height: 80px!important;
  object-fit: cover!important;
  object-position: top!important;
  border-radius: 10px;
}
.nav-car .woocommerce table.shop_table td {
  border-bottom: 1px dashed #dcdcdc!important;
}
.nav-car .woocommerce table.shop_table td {
  border-top: none!important;
}
.nav-car .woocommerce table.shop_table td {
  padding: 9px 15px!important;
}